html, body{
    height: 100%;
    margin: 0;
}
@font-face{
    font-family: apple;
    src: url(../fonts/SF-UI-Display-Regular.otf);
}

.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: auto;
}
.calculadora{
    /* border: black solid 1px; */
}
#display{
    /* margin-top: 150px; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#display input{
    width: 224px;
    height: 73px;
    text-align: right;
    color: white;
    background-color: #4c4c4c;
    font-size: 2.65em;
    font-weight: lighter;
}
.boton{
    display: flex;
    flex-direction: row; 
}
.boton button{
    width: 56px;
    height: 49px; 
    font-size: 1.2em;
    border: none;
}
.boton button:active{
    background-color: rgb(175, 174, 174);
}
.boton button:focus{
    outline: none;
}
.operacion{
    background-color: #f7a13e;
    color: white;
}

#btnCero{
    width: 114px;
}
.recuadro{
    border: rgb(129, 127, 127) 0.01em solid;
}
.cientifica{
    margin-top: 80px;
    /* border: black solid 1px; */
    display: flex;
    flex-direction: column;
}
#recuadroCient{
    border: none;
}
#btnCientifica{
    font-size: 15px;
    border: none;
}